@-ms-viewport
{
    width: device-width;
}
@-o-viewport
{
    width: device-width;
}
@viewport
{
    width: device-width;
}

* {
    font-family: 'Roboto Slab', 'Roboto', 'Lato', sans-serif;
    
    --mdc-theme-primary: #F44336;
    --mdc-theme-primary-light:#FFCDD2;
    --mdc-theme-primary-dark: #D32F2F;
    --mdc-theme-secondary: #FF5252;
    --mdc-theme-background: #FFFFFF;
    --mdc-theme-text-primary-on-background: #212121;
    --mdc-theme-text-secondary-on-background: #757575;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-color: rgb(245, 245, 245);
}

#container {
    padding: 8px;
    width: 100%;
    height: 100%;
}

/* Character sheet style */
#character-pane {
    width: 400px;
    height: 100%;
    float: left;
    overflow-y: scroll;
}

#character-pane .mdc-card {
    padding: 0px 16px 16px 16px;
    margin: 0px 8px 16px 0px;
}

#character-pane .mdc-card > h3 {
    text-align: center;
    margin-bottom: 0;
}

.status-group {
    margin: 8px 0px;
}

#character-name {
    margin-top: 8px;
    text-align: center;
    font-size: 1.2em;
}

/* stat box */
.stat-container {
    text-align: center;
}
.stat-container .wrapper {
    margin: auto;
}
.stat-box {
    margin: 4px;
    width: 48px;
    height: 48px;
    display: inline-block;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
.stat-box .stat-value {
    font-weight: bold;
    text-align: center;
    font-size: 1.5em
}
.stat-box .stat-name {
    text-align: center;
    font-size: 0.75em
}

/* debilities */
.debility-container {
    text-align: center;
}
.debility-container .debility {
    background-color: #D32F2F;
    color: white;
}
.debility-container .mdc-chip-set {
    display: inline-block;
}
.debility-container .mdc-chip {
    cursor: default;
}
.debility-container .debility.mdc-chip:hover { 
    background-color: #D32F2F;
    color: white;
}

/* experience */
.experience-container {
    text-align: center;   
}
.experience-container .wrapper {
    margin: auto;
    margin-top: 4px;
    width: 250px;
}
.experience-container .dot {
    display: inline-block;
}

/* Progress tracks */
.progress-track {
    text-align: center;
}
.progress-track p {
    margin-bottom: -5px;
}
.progress-track .challenge {
    font-size: 0.75em;
    margin: 8px;
}
.progress-track .wrapper {
    margin: auto;
}
.progress-track .box {
    width: 20px;
    height: 20px;
    margin: 2px;
    display: inline-block;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
.progress-track .tick-row {
    margin: 1px;
    width: 16px;
    height: 6px;
}
.progress-track .tick {
    margin: 1px;
    width: 6px;
    height: 6px;
    float: left;
    background-color: black;
}

/* Event Log Style */
#event-pane {
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
}

#log-history {
    height: 75%;
    overflow-y: scroll;
    padding-left: 8px;
}

#event-pane .log-entry .mdc-card {
    padding: 16px 16px 8px 16px;
    margin: 0px 8px 16px 0px;
    display: block;
    height: 100%;
}

#event-pane .log-entry .content {
    width: 100%;
    height: 100%;
}

#event-pane .log-entry .actions {
    margin-left: 8px;
    height: 100%;
    width: 25px;
    float: right;
    /* visibility: hidden; */
}

#event-pane .log-entry .mdc-card:hover .actions {
    visibility: visible;
}

#entry {
    margin-top: 16px;
    overflow-x: hidden;
    padding-left: 8px;
}

#entry button {
    margin: 16px 0px;
}