@-ms-viewport
{
    width: device-width;
}
@-o-viewport
{
    width: device-width;
}
@viewport
{
    width: device-width;
}

* {
    font-family: 'Roboto Slab', 'Roboto', 'Lato', sans-serif;
    
    --mdc-theme-primary: #F44336;
    --mdc-theme-primary-light:#FFCDD2;
    --mdc-theme-primary-dark: #D32F2F;
    --mdc-theme-secondary: #F44336;
    --mdc-theme-background: #FFFFFF;
    --mdc-theme-text-primary-on-background: #212121;
    --mdc-theme-text-secondary-on-background: #757575;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-color: #d3d3d3;
    width: 100%;
}

/* Fixes select caret not respecting theme color */
.mdc-select__dropdown-icon {
    background-image: none;
    color: #757575;
}
.mdc-select--focused .mdc-select__dropdown-icon {
    background-image: none;
    transform: rotate(180deg) translateX(10px);
    color: var(--mdc-theme-primary, #6200ee);
}
.mdc-select--activated .mdc-select__dropdown-icon {
    background-image: none;
    transform: rotate(180deg) translateX(10px);
    color: var(--mdc-theme-primary, #6200ee);
}

/* Fixes color of floating labels not respecting theme color */
.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
    color: var(--mdc-theme-primary, #6200ee);
}
.mdc-text-field:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label {
    color: var(--mdc-theme-primary, #6200ee);
}

.page-container {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    max-width: 1200px;
    padding: 8px;
    padding-bottom: 0px;
    height: 64px;
}
.header .mdc-card {
    height: 100%;
    padding: 8px;
    padding-left: 16px;
}
.header .flex {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header button {
    background-color: var(--mdc-theme-primary, #6200ee);
    color: white;
}
.header button:hover {
    color: white;
}
.header h1 {
    padding: 0px;
    margin: 0px;
    display: inline;
}

#container {
    padding: 8px;
    width: 100%;
    max-width: 1200px;
    height: calc(100% - 64px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/* Character sheet style */
#character-pane {
    min-width: 355px;
    height: 100%;
    overflow-y: scroll;
}
#character-pane .mdc-card {
    padding: 0px 16px 16px 16px;
    margin: 0px 8px 8px 0px;
}
#character-pane h3 {
    margin-bottom: 16px;
}
#character-pane hr {
    width: 100%;
    border: 0.5px solid lightgray;
}

.status-group {
    margin: 8px 0px;
}

#character-name {
    margin-top: 8px;
    font-size: 1.2em;
}

/* stat box */
.stat-box {
    margin: 4px;
    width: 48px;
    height: 48px;
    display: inline-block;  
}
.stat-box .frame {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 2px;
}
.stat-box .stat-value {
    font-weight: bold;
    text-align: center;
    font-size: 1.5em
}
.stat-box .stat-name {
    text-align: center;
    font-size: 0.75em
}
.stat-box button {
    min-width: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 24px;
}

/* debilities */
.debility-container .debility {
    background-color: rgb(22, 22, 22);
    color: white;
}
.debility-container .mdc-chip-set {
    display: inline-block;
}
.debility-container .mdc-chip {
    cursor: default;
}
.debility-container .debility.mdc-chip:hover { 
    background-color: #D32F2F;
    color: white;
}

/* experience */
.experience-container .wrapper {
    margin-top: 4px;
    width: 250px;
}
.experience-container .dot {
    display: inline-block;
}

/* Progress tracks */
.progress-track .name {
    margin-bottom: 0px;
}
.progress-track .box {
    width: 20px;
    height: 20px;
    margin: 2px;
    display: inline-block;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}
.progress-track .tick-row {
    margin: 1px;
    width: 16px;
    height: 6px;
}
.progress-track .tick {
    margin: 1px;
    width: 6px;
    height: 6px;
    float: left;
    background-color: black;
    border-radius: 2px;
}

/* bonds */
#bond-card .track-container {
    margin-bottom: 12px;
}
#bond-card .bond-list div {
    padding: 0px;
    margin-top: 4px;
}
#bond-card .bond-list {
    padding: 0px;
}

#progress-card hr {
    margin-top: 16px;
    margin-bottom: 16px;
}

/* Event Log Style */
#event-pane {
    width: 100%;
    height: 100%;
}

#event-pane .flex {
    max-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8px;
}

#event-history {
    overflow-y: scroll;
    height: 100%;
    margin-bottom: 8px;
    padding-right: 8px;
}

#event-pane .event-base {
    display: flex;
    flex-direction: row;
    min-height: 60px;
    margin-bottom: 8px;
}

#event-pane .event-roll {
    border-style: dashed;
    border-color: #bebebe;
    background-color: #bebebe;
    color: #636363;
}

#event-pane .event-roll .actions button {
    color: black;
}

#event-pane .event-base .content {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    width: 100%;
    height: 100%;
}

#event-pane .event-base .actions {
    padding-top: 4px;
    margin-right: 4px;
    width: 25px;
    height: 100%;
    visibility: hidden;
}

#event-pane .event-base button {
    min-width: 25px;
    height: 25px;
    margin-bottom: 4px;
    padding: 4px;
}

#event-pane .event-base:hover .actions {
    visibility: visible;
}

#entry {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    min-height: 275px;
}

.labeless-field {
    padding-top: 4px;
}

#entry .entry-tab hr.card-divider { 
    position: relative;
    top: 0px;
    border: 0.5px solid lightgray;
    margin: 0px;   
}

#entry .story-container {
    margin-top: 16px;
}

#entry .roll-container { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#entry .roll-container {
    margin-top: 16px;
}
#entry .roll-container .buttons {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#entry .roll-container .add-container {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#entry .roll-container .add-container > div {
    width: 49%;
}

#entry .oracle-container {
    max-height: 200px;
    width: 100%;
    overflow-y: scroll;
}
#entry .oracle-container .mdc-list {
    width: 100%;
    padding-right: 8px;
}
#entry .oracle-container .mdc-list-item {
    padding: 0px;
    padding-left: 8px;
    height: 32px; 
}

#event-input {
    line-height: 1.2em;
    height: 150px;
    resize: none;
    padding: 8px;
    margin: 0px;
}

#entry .mode-switch-container {
    font-size: 0.75em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#entry .input {
    margin: 8px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#entry .input .action-buttons button {
    background-color: var(--mdc-theme-primary, #6200ee);
    color: white;
    font-size: 1.15em;
    padding: 0px 8px;
    margin: 2px;
}